/* CS RESET */ 
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* CSS REAL */
body {
    --color_super_light: #fce7f3;
    --color_light: #f472b6;
    --color_mid: #e11d48;
    --color_bold: #4c0519;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 4fr;
}
.bold {
    font-weight: bolder;
}
.sidebar {
    height: 100%;
    grid-area: 1 / 1 / 3 / 2;
    background-color: var(--color_light)

}
.title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    padding-left: 10px;
    color: var(--color_super_light);
    font-size: 25px;
}
.logo {
    height: 50px;
}

header, main {
    grid-column: 2 / 3;
}
header {
    
    grid-row: 1 / 2;
    background-color: var(--color_super_light);
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.headerFirstRow {
    display: flex;
    flex-direction: row;
    
    align-items: center;
    
    grid-template-rows: 1 / 2;
    padding-left: 20px;
    padding-top: 10px;
    
}
input[type="search"] {
    width: 700px;
    margin-left: 10px;
    margin-right: 70px;
    border-style: none;
    border-radius: 10px;
}
.bellLogo{
    margin-left: 150px;
    margin-right: 10px;
}
.userHeaderFirst {
    
    font-size: 20px;
    font-weight: bolder;
    letter-spacing: 5px;
}
main {
    grid-row: 2 / 3;
}

.userNavigation {
 padding-top: 50px;
 display: flex;
 flex-direction: column;
 align-items:start;
 padding-left: 25px;
 row-gap: 15px;
 
 
 
}
.optionContainer {
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 10px;
   
    color: var(--color_super_light);
    align-items: center;
    font-size: 20px;
    
}
.optionLogo {
    height: 20px;
}
.last {
    padding-bottom: 50px;
}
.headerSecondRow {
    grid-row: 2 / 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding-right: 80px;
}
.userSection {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.navSection {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
button {
    border-style: none;
    background-color: var(--color_light);
    padding: 10px 30px;
    border-radius: 10px;
    color: var(--color_super_light);
}

main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    background-color: white;
}
.projectsContainer, .socialSection {
    padding: 10px;
    padding-top: 30px;
}
.projectsLegend {
    font-weight: bolder;
    font-size: 30px;
    padding-bottom: 5px;
}
.cardsContainer {
    display: grid;
    gap: 20px 20px;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr))
}
.card {
    background-color: var(--color_super_light);
    padding-left: 10px;
    padding-top: 20px;
    height: 150px;
    border-left: var(--color_bold) 5px solid;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
}
.cardLogos {
  margin-top: 50px;
  align-self: flex-end
}
.cardLogos * {
    padding-right: 10px;
}